/* css code for whole html page */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Design home page 1st section's header */
.container{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/image\ 2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
.site-header{
    display: flex;
    gap: 20%;
}
.btns{
    width: 150px;
    height: 40px;
    margin-top: 18px;
    font-size: 15px;
    font-weight: 600;
    background: rgb(194, 129, 51);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.btns:hover{
    background: transparent;
    border: 2px solid rgb(194, 129, 51);
}
.container2{
    display: flex;
    gap: 15px;
}
.container1{
    display: flex;
    margin-left: 15%;
    gap: 20px;
}
/* design home page 1st section's body */
.logotitle{
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}
span{
    color: darkorange;
}
.logo{
    width: 110px;
    height: 110px;
    margin-top: 10px;
}
.list{
    color: #fff;
    list-style: none;
    display: flex;
    margin-top: 25px;
    font-weight: 600;
    font-size: 18px;
    gap: 40px;
    cursor: pointer;
    transition: 1s;
}
.list li:hover{
    color: darkorange;
}
.hometitle{
    text-align: center;
    margin-top: 10%;
    margin-left: 20px;
}
h1{
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}
#typing{
    color: darkorange;
    font-size:30px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}
#typing::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: darkorange;
    margin-left: 5px;
    animation: blink 1s step-start infinite
}
@keyframes blink {
    50% {
      opacity: 0;
    }
  }


p{
   color: #fff;
   font-size: 15px;
}
.img3{
    width: 400px;
    margin-left: 20px;
    height: 200px;
}
.btn{
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 45%;
    background: transparent;
    width: 200px;
    color: #fff;
    font-size: 25px;
    height: 60px;
    transition: 1s;
}
.btn:hover{
    background: darkorange;
    color: #fff;
}
/* making rooms and suites section */
.roomsandsuits{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/room00\ 11.34.27.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.titleh1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    top: 100px;
}
hr{
    width: 200px;
    margin-left: 33%;
    height: 4px;
    background: darkorange;
    border: none;
}
.fr{
    color: #fff;
    font-size: 30px;
    margin-left: 4%;
}
/* making rooms and suites section's banners */
.banners{
    display: flex;
    margin-left: 30px;
    gap: 30px;
}
img{
    width: 300px;
    height: 200px;
}
.price{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 20px;
}
.specialoffers{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
}
.offerh1{
    font-size: 30px;
    color: #000;
    margin-left: 30px;
}
.offers{
    display: flex;
}

.optionh4{
    text-align: center;
}
.dates{
    border: 1px solid #000;
    border: 0%;
    color: black;
    margin-right: 20px;
    border-top: -2px;
    width: 250px;
    text-align: center;
}
.selections{
    margin-left: 40%;
    display: flex;
    gap: 20px;
}
#categories{
    font-weight: 700;
    width: 400px;
}
.rooms{
    text-align: center;
}
.flyers{
    display: flex;
}
.flyer1{
    border: 1px solid rgb(241, 239, 239);
    background: rgb(241, 239, 239);
    width: 400px;
    height: 550px;
    margin-left: 40px;
    margin-bottom: 30px;
}
/* making special offers section */
.offerh4{
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;

}
.p1{
    color: black;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}
.imgoffer{
    width: 400px;
    height: 300px;
}
#offerh1{
    font-size: 25px;
}
/* making footer section */
.footer{
    height: 420px;
    background: #000435;
    display: flex;
    gap: 40px;
}
.imgs{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
/* making footer section contact details */
.contact h2{
    color: white;
    margin-top: 15px;
}
.details{
    margin-top: 20px;
    margin-left: 50px;
}
.contact2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.contact2 i{
    font-size: 25px;
    color: white;
}
.contact .cp1{
    font-size: 17px;
    color: white;
    font-weight: 600;
}
.chr{
    width: 60px;
    margin-left: 1%;
    margin-top: 5px;
    height: 4px;
    background: darkorange;
    border: none;
}
.contact3{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.contact3 i{
    font-size: 25px;
    color: white;
}
.contact4{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.contact4 i{
    font-size: 25px;
    color: white;
}
/* making footer section feedback form coloumn */
.form h2{
    color: white;
    margin-top: 30px;
    margin-left: 250px;
}
.form1{
    margin-left: 100px;
}
.form1 #name{
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}
.form1 #email{
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 195px;
    color: #fff;
}
.form1 #subject{
    background: transparent;
    border-radius: 20px;
    height: 60px;
    width: 410px;
    border: 1px solid black;
}
.form1 #message{
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    height: 150px;
    width: 410px;
    background: #fff;
    margin-left: 4px;
}
.nameemail{
    display: flex;
    gap: 6px;
}
.subject{
    display: flex;
    gap: 6px;
}
.nameemail #name{
    font-size: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    backdrop-filter: blur(8px); /* Apply blur effect to the background behind the input */
  -webkit-backdrop-filter: blur(8px); /* For Webkit-based browsers */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Optional: Add a subtle border */
    padding: 10px;
    border-radius: 15px;
}
.nameemail #email{
    font-size: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  backdrop-filter: blur(8px); /* Apply blur effect to the background behind the input */
  -webkit-backdrop-filter: blur(8px); /* For Webkit-based browsers */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Optional: Add a subtle border */
    padding: 10px;
    border-radius: 15px;
}
.subject #subject{
    font-size: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  backdrop-filter: blur(8px); /* Apply blur effect to the background behind the input */
  -webkit-backdrop-filter: blur(8px); /* For Webkit-based browsers */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Optional: Add a subtle border */
    padding: 10px;
    border-radius: 15px;
}
.textarea #message{
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  backdrop-filter: blur(8px); /* Apply blur effect to the background behind the input */
  -webkit-backdrop-filter: blur(8px); /* For Webkit-based browsers */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Optional: Add a subtle border */
    padding: 10px;
    border-radius: 15px;
}
.textarea #message::placeholder{
    color: #fff;
    font-size: 17px;
}
/* making subscribe to news letter coloumn in footer section  */
.fhr{
    width: 70px;
    margin-left: 48%;
    margin-top: 5px;
    height: 4px;
    background: darkorange;
    border: none;
}
.subscription h2{
    color: white;
    margin-top: 30px;
    margin-left: 130px;
}
.sub1{
    margin-left: 120px;
}
.sub1 #email1{
    width: 300px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  backdrop-filter: blur(8px); /* Apply blur effect to the background behind the input */
  -webkit-backdrop-filter: blur(8px); /* For Webkit-based browsers */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Optional: Add a subtle border */
    padding: 10px;
    border-radius: 5px;
}
.sub1 .btn3{
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background: crimson;
    border: none;
    margin-left: 60px;
    border-radius: 12px;
}
.shr{
    width: 150px;
    margin-left: 31%;
    margin-top: 5px;
    height: 4px;
    background: darkorange;
    border: none; 
}
/* Making footer 2 section */
.footer2{
    height: 80px;
    background: crimson;
}
/* Design social media links in footer 2 */
.footer2 .social-media{
    font-size: 27px;
    display: flex;
    gap: 120px;
    margin-left: 450px;
}
.footer2 .social-media i{
    margin-top: 10px;
}
.fp1{
    text-align: center;
    color: #fff;
}




